// WordPress editor styles
.wp-block-salcode-markdown .block-editor-plain-text {
	border-radius: 4px;
	border: 1px solid #e2e4e7;
	color: #23282d;
	font-family: Menlo,Consolas,monaco,monospace;
	padding: .8em 1em;
}
